/* http://bettermotherfuckingwebsite.com */
html {background: #111}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 40px auto;
  padding: 0 10px;
  max-width: 60ch;
  font-size: 18px;
  color: #ccc;
}

code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace}
h1, h2, h3 {line-height: 1.2}
button, input, textarea {font: inherit}
a {margin-right: .5em}
a:last-child {margin: 0}
a:hover {color: orange}
