.card {
  width: 2em;
  height: 2em;
	perspective: 500px;
	margin: auto;
	font-size: 4em;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transform-origin: center right;
}

.opened .inner, .pair .inner {
  transform: translateX(-100%) rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	display:flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #444;
	border-radius: 5px;
	background: #222;
}

.front{cursor: pointer}
.front:hover{background:#333}

.back {
  background: #2980b9;
	transform: rotateY(180deg);
	cursor: default;
}

.pair .back {
  background: mediumseagreen;
	transition: background-color 1000ms ease-in;
}