#notes ul {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}
#notes li {
  list-style-type: none;
  display: block;
  background: orange;
  margin: .5em;
  padding: .5em;
  border-radius: 10px;
  color: #111;
  text-shadow: 1px 2px 3px #ff0;
  box-shadow: 1px 2px 3px #888;
  overflow: hidden;
}

#notes time {
  color: brown;
  font-size: 80%;
  margin-bottom: .5em;
}

#notes pre {
  font: inherit;
  font-weight: bold;
  line-height: 1.4;
  margin:0;
}

#notes .buttons {
  text-align: right;
}

#notes button {
  background: gold;
  cursor: pointer;
  box-shadow: 1px 2px 3px #888;
  margin-left: .5em;
}

#notes textarea {
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
}
